/*-----------------------------------------------------
	theme:			cca_master
	file:			styles/admin_alerts/admin-alerts.less
	version:		4.0
-----------------------------------------------------*/
div.messages {
  padding: 15px;
  padding-left: 70px;
  margin: 10px 0;
  border: 3px solid #cccccc;
  border-right: none;
  border-left: none;
  font-size: 14px;
  font-weight: 700;
  background-color: #e8e8e8;
  background-position: 20px 15px;
  background-repeat: no-repeat;
}
div.messages ul {
  margin: 0;
  padding: 0;
}
div.messages.status {
  background-image: url('tick.png');
  background-color: #ecfbda;
  border-color: #557d1d;
  color: #557d1d;
}
div.messages.error {
  background-image: url('error.png');
  background-color: #fbdada;
  border-color: #7d1d1d;
  color: #7d1d1d;
}
div.messages.warning {
  background-image: url('caution.png');
  background-color: #fbfada;
  border-color: #a25e22;
  color: #a25e22;
}
