/*-----------------------------------------------------
	theme:			cca_master
	file:			styles/admin_alerts/admin-alerts.less
	version:		4.0
-----------------------------------------------------*/
@darkGray: rgb(204,204,204);
@lightGray: rgb(232,232,232);

@darkGreen: rgb(85,125,29);
@lightGreen: rgb(236,251,218);

@darkRed: rgb(125,29,29);
@lightRed: rgb(251,218,218);

@darkYellow: rgb(162,94,34);
@lightYellow: rgb(251,250,218);


div.messages {
	padding: 15px;
	padding-left: 70px;
	margin: 10px 0;
	border: 3px solid @darkGray;
	border-right: none;
	border-left: none;
	font-size: 14px;
	font-weight: 700;
	
	background-color: @lightGray;
	background-position: 20px 15px;
	background-repeat: no-repeat;

    ul {
        margin: 0;
        padding: 0; 
    }

	&.status {
		background-image: url('tick.png');
		background-color: @lightGreen;
		border-color: @darkGreen;
		color: @darkGreen;
	}
	
	&.error {
		background-image: url('error.png');
		background-color: @lightRed;
		border-color: @darkRed;
		color: @darkRed;
	}
	
	&.warning {
		background-image: url('caution.png');
		background-color: @lightYellow;
		border-color: @darkYellow;
		color: @darkYellow;
	}
}
