/*-----------------------------------------------------
	theme:			cca_master
	file:			css/news_alerts/news-alerts.less
	version:		4.0
-----------------------------------------------------*/
/* =breaking news
-----------------------------------------------------*/div#block-views-news_alerts-block_1 {
  background-color: #ba1919;
  border: 2px solid #780c13;
  padding: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}
div#block-views-news_alerts-block_1 h2 {
  float: left;
  width: 100px;
  height: 45px;
  background-image: url('breaking-news.png');
  background-repeat: no-repeat;
  background-position: -10px -6px;
}
div#block-views-news_alerts-block_1 h2 span {
  display: none;
}
div#block-views-news_alerts-block_1 div.content {
  border-left: 1px dashed #f87474;
  float: right;
  width: 848px;
  color: #ffffff;
}
div#block-views-news_alerts-block_1 div.content div.views-row {
  font-size: 11px;
  padding: 8px 15px;
  border-bottom: 1px dashed #f87474;
}
div#block-views-news_alerts-block_1 div.content div.views-row.views-row-first {
  padding-top: 0;
}
div#block-views-news_alerts-block_1 div.content div.views-row.views-row-last {
  padding-bottom: 0;
  border: none;
}
div#block-views-news_alerts-block_1 div.content div.views-row div.views-field-title {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
div#block-views-news_alerts-block_1 div.content div.views-row div.views-field-title a {
  color: #ffffff;
}
div#block-views-news_alerts-block_1 div.content div.views-row div.views-field-created {
  color: #bfbfbf;
  font-style: italic;
}
div#block-views-news_alerts-block_1 div.content div.views-row div.views-field-created label {
  font-weight: 400;
}
div#block-views-news_alerts-block_1 div.content div.views-row span.views-field-delete-node {
  color: #ffffff;
  float: right;
}
div#block-views-news_alerts-block_1 div.content div.views-row span.views-field-delete-node a {
  color: #ffffff;
  padding: 0 4px 0 2px;
}
/* =news
-----------------------------------------------------*/div#block-views-news_alerts-block_2 {
  background-color: #ffc834;
  border: 2px solid #ac8724;
  padding: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}
div#block-views-news_alerts-block_2 h2 {
  float: left;
  width: 100px;
  height: 45px;
  background-image: url('news-alert2.png');
  background-repeat: no-repeat;
  background-position: -7px -6px;
}
div#block-views-news_alerts-block_2 h2 span {
  display: none;
}
div#block-views-news_alerts-block_2 div.content {
  border-left: 1px dashed #ffe9ad;
  float: right;
  width: 848px;
  color: #ffffff;
}
div#block-views-news_alerts-block_2 div.content div.views-row {
  font-size: 11px;
  padding: 8px 15px;
  border-bottom: 1px dashed #ffe9ad;
}
div#block-views-news_alerts-block_2 div.content div.views-row.views-row-first {
  padding-top: 0;
}
div#block-views-news_alerts-block_2 div.content div.views-row.views-row-last {
  padding-bottom: 0;
  border: none;
}
div#block-views-news_alerts-block_2 div.content div.views-row div.views-field-title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
div#block-views-news_alerts-block_2 div.content div.views-row div.views-field-title a {
  color: #000000;
}
div#block-views-news_alerts-block_2 div.content div.views-row div.views-field-created {
  color: #666666;
  font-style: italic;
}
div#block-views-news_alerts-block_2 div.content div.views-row div.views-field-created label {
  font-weight: 400;
}
div#block-views-news_alerts-block_2 div.content div.views-row span.views-field-delete-node {
  color: #666666;
  float: right;
}
div#block-views-news_alerts-block_2 div.content div.views-row span.views-field-delete-node a {
  color: #666666;
  padding: 0 4px 0 2px;
}
/* =weather news
-----------------------------------------------------*/div#block-views-news_alerts-block_3 {
  background-color: #1961ba;
  border: 2px solid #144684;
  padding: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}
div#block-views-news_alerts-block_3 h2 {
  float: left;
  width: 100px;
  height: 45px;
  background-image: url('weather-news.png');
  background-repeat: no-repeat;
  background-position: -10px -6px;
}
div#block-views-news_alerts-block_3 h2 span {
  display: none;
}
div#block-views-news_alerts-block_3 div.content {
  border-left: 1px dashed #438ae1;
  float: right;
  width: 848px;
  color: #ffffff;
}
div#block-views-news_alerts-block_3 div.content div.views-row {
  font-size: 11px;
  padding: 8px 15px;
  border-bottom: 1px dashed #438ae1;
}
div#block-views-news_alerts-block_3 div.content div.views-row.views-row-first {
  padding-top: 0;
}
div#block-views-news_alerts-block_3 div.content div.views-row.views-row-last {
  padding-bottom: 0;
  border: none;
}
div#block-views-news_alerts-block_3 div.content div.views-row div.views-field-title {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
div#block-views-news_alerts-block_3 div.content div.views-row div.views-field-title a {
  color: #ffffff;
}
div#block-views-news_alerts-block_3 div.content div.views-row div.views-field-created {
  color: #bfbfbf;
  font-style: italic;
}
div#block-views-news_alerts-block_3 div.content div.views-row div.views-field-created label {
  font-weight: 400;
}
div#block-views-news_alerts-block_3 div.content div.views-row span.views-field-delete-node {
  color: #ffffff;
  float: right;
}
div#block-views-news_alerts-block_3 div.content div.views-row span.views-field-delete-node a {
  color: #ffffff;
  padding: 0 4px 0 2px;
}
/* =generic news
-----------------------------------------------------*/div#block-views-news_alerts-block_4 {
  background-color: #417528;
  border: 2px solid #12501c;
  padding: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}
div#block-views-news_alerts-block_4 div.content {
  color: #ffffff;
}
div#block-views-news_alerts-block_4 div.content div.views-row {
  font-size: 11px;
  padding: 8px 10px;
  border-bottom: 1px dashed #12501c;
}
div#block-views-news_alerts-block_4 div.content div.views-row.views-row-first {
  padding-top: 0;
}
div#block-views-news_alerts-block_4 div.content div.views-row.views-row-last {
  padding-bottom: 0;
  border: none;
}
div#block-views-news_alerts-block_4 div.content div.views-row div.views-field-title {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
div#block-views-news_alerts-block_4 div.content div.views-row div.views-field-title a {
  color: #ffffff;
}
div#block-views-news_alerts-block_4 div.content div.views-row div.views-field-created {
  color: #bfbfbf;
  font-style: italic;
}
div#block-views-news_alerts-block_4 div.content div.views-row div.views-field-created label {
  font-weight: 400;
}
div#block-views-news_alerts-block_4 div.content div.views-row span.views-field-delete-node {
  color: #ffffff;
  float: right;
}
div#block-views-news_alerts-block_4 div.content div.views-row span.views-field-delete-node a {
  color: #ffffff;
  padding: 0 4px 0 2px;
}
