/*-----------------------------------------------------
	theme:			cca_master
	file:			styles/tabs/tabs.less
	version:		4.0
-----------------------------------------------------*/
ul.primary-tabs {
  margin: 0 0 9px 0;
  padding: 0;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  background: url('tab-bar.png') repeat-x left bottom;
  border-left: 1px solid #cacaca;
}
ul.primary-tabs li {
  float: left;
  margin: 0;
  padding: 0;
  border: 1px solid #cacaca;
  border-left: none;
  border-bottom: none;
}
ul.primary-tabs li a {
  font-size: 12px;
  display: block;
  margin: 0;
  padding: 3px 10px 4px 10px;
  border-width: 0;
  text-decoration: none;
  color: #999999;
  background-color: transparent;
  background: url(tab-bg.gif) repeat-x bottom;
  line-height: 16px;
}
ul.primary-tabs li a:hover {
  border-width: 0;
  background-color: transparent;
  color: #000000;
}
ul.primary-tabs li a .tab {
  display: block;
  margin: 0;
  padding: 0;
  border-width: 0;
}
ul.primary-tabs li.active a,
ul.primary-tabs li.active a:hover {
  border-width: 0;
  color: #000000;
  background-color: white;
  padding: 3px 10px 4px 10px;
  font-weight: bold;
  background: url(tab-active-bg.gif) repeat-x left 0;
}
ul.secondary-tabs {
  margin: -9px 0px 9px 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
}
ul.secondary-tabs li {
  float: left;
  margin: 0 9px 0 0;
  padding: 5px 0;
  border-right: none;
}
ul.secondary-tabs a {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: italic;
  color: #777777;
}
ul.secondary-tabs a .tab {
  display: block;
  margin: 0;
  padding: 1px 8px;
}
ul.secondary-tabs a:hover {
  text-decoration: underline;
}
ul.secondary-tabs a.active,
ul.secondary-tabs aactive:hover {
  border: none;
  color: #000000;
}
