/*-----------------------------------------------------
    theme:          nbc_master
    file:           css/nbc-master.less
    version:        4.0
-----------------------------------------------------*/

/* =less variables */
.border-top {
	border-top: 1px dotted #ccc;
}
.border-right {
	border-right: 1px dotted #ccc;
}
.border-left {
	border-left: 1px dotted #ccc;
}
.border-bottom {
	border-bottom: 1px dotted #ccc;
}

@ad-background: #fbfbfb;

/* constrain to width of their container */
img, iframe {
	max-width: 100%;
}

/* =layout
-----------------------------------------------------*/
body {
	background: #dcdcdc;
}

.container {
	background: #fff;
	&>.ad {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

#station-info-top {

	background: #ababab;
	overflow: auto;
	height: 30px;

	* {
		line-height: 30px;
	}

	a {
		color: #000;
		font-size: 11px;
	}

	form {
		background: #999;
		margin: 0;
		padding-left: 15px;
		position: relative;
		left: 15px;
		text-align: right;
		input, button {
			padding: 0;
			height: 20px;
			line-height: 20px;
		}
		input {
			margin-right: 10px;
			text-align: center;
			width: 80%;
		}
		button {
			padding: 1px 3px;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: bold;
		}
	}
}

#branding {
	padding-top: 7px;
	padding-bottom: 20px;
	text-align: center;
}

.ad {
	background: @ad-background;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	p {
		color: #aaa;
		margin-bottom: 5px;
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

/* enable nav dropdown on hover */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

#sidebar {
	.ad {
		padding: 0;
		padding-top: 5px;
		margin-top: 20px;
		padding-bottom: 10px;
		text-align: center;
		img, iframe {
			max-width: 95%;
		}
	}
}

#leading-article {
	h1 {
		margin-top: 5px;
	}
	p.byline {
		padding-bottom: 5px;
	}
	p {
		margin-bottom: 0;
	}
	border-bottom: none;
	padding-top: 0;
}

article {
	border-bottom: 1px solid #ccc;
	overflow: auto;
	padding-bottom: 5px;
	padding-top: 5px;
}

.homepage-sub-news {
	article {
		clear: left;
		h4 {
			margin-bottom: 0;
		}
	}
	h3 {
		color: #666;
		font-size: 18px;
		border-bottom: 3px solid #666;
	}
	.first {
		img {
			float: left;
			padding-right: 10px;
		}
	}
	p {
		margin-bottom: 0;
	}
	article:last-child {
		border-bottom: 3px solid #666;
	}
}

#see-it-shoot-it-share-it {

	margin-bottom: 20px;

	h3 {
		color: #666;
		font-size: 18px;
		border-bottom: 3px solid #666;
		padding-top: 10px;
	}

	nav {
		margin-top: 10px;
	}
}

#house-ads {
	div {
		text-align: center;
	}
	div:nth-child(2) {
		text-align: right;
	}
	margin-bottom: 20px;
}

#legal-links {
	overflow: auto;
	margin-bottom: 10px;
	ul {
		width: 100%;
		.border-top;
		.border-bottom;
		li:nth-child(1) a {
			padding-left: 0;
		}
	}
	a {
		padding-top: 5px;
		padding-bottom: 5px;
		font-weight: bold;
	}
}

#footer-news, #footer-community {
	ul {
		width: 100%;
		li {
			a {
				padding: 2px 7px;
			}
			&:nth-child(1) a {
				padding-left: 0;
				font-weight: bold;
			}
		}
	}
}

#address {
	color: #444;
	font-size: 11px;
	h3 {
		margin-bottom: 5px;
	}
}
#footer-social {
	font-size: 11px;
	text-align: right;
	ul.nav li a {
		padding: 2px;
	}
}

#bottom {
	margin-top: 5px;
	height: 25px;

	* {
		line-height: 25px;
		height: 25px;
		color: #ddd;
		font-size: 10px;
	}

	nav {
		text-align: right;
		a {
			color: #ddd;
			&:hover {
				color: #fff;
			}
		}
	}
}


/* =typography
-----------------------------------------------------*/
body {
	font-size: 12px;
}

h1 {
	font-size: 18px;
}
h2 {
	font-size: 14px;
}
h3 {
	font-size: 12px;
}
h4 {
	font-size: 12px;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.1em;
	margin-top: 0;
}

h2,h3,h4,h5,h6 {
	line-height: 1.3em;
}

/* =header
-----------------------------------------------------*/

header {
	aside.ad {
		padding: 0;
		margin: 0;
		background: transparent;
		text-align: right;
		.border-right;
		* {
			max-width: 100%;
		}
	}
}

#main-site-nav {
	min-height: 34px;
	padding-top: 1px;
	.border-top;
	.border-bottom;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	a {
		color: #000;
		padding-top: 5px;
		padding: 5px 18px 0 18px;
	}
	li.active > a {
	}
}

#header-social {
	.border-right;
	height: 92px;
	p {
		color: #aaa;
		font-style: italic;
		margin-top: 15px;
	}
}

#user-status {
	#user-avatar {
		float: right;
		margin-top: 15px;
		padding-left: 15px;
	}

	#user-name {
		display: block;
		margin-top: 40px;
		text-align: right;
		font-weight: bold;
	}

	p#user-links {
		text-align: right;
		clear: both;
		padding-top: 5px;
		margin-top: 5px;
		margin-bottom: 0;
		border-top: 1px solid #eee;
	}
}

#main-articles {
	padding-bottom: 15px;
}

p.byline {
	font-style: italic;
	font-size: 10px;
	color: #aaa;
	padding-top: 0;
}

.secondary-article {
	overflow: auto;
	clear: both;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #ccc;
	img {
		float: left;
		padding-right: 10px;
	}
	h2 {
		margin-top: 0;
		margin-bottom: 5px;
	}
	p.byline {
		margin-left: 85px;
	}
}

.secondary-article.first {
	padding-top: 0px;
}

.tertiary-article {
	h3 {
		margin-top: 0;
		margin-bottom: 0;
	}
	border-bottom: 1px solid #ccc;
	.byline {
		margin-bottom: 5px;
	}
}

/* =footer
-----------------------------------------------------*/

#bottom {
	background: #575757;
}