/*-----------------------------------------------------
    theme:          nbc_master
    file:           css/nbc-master.less
    version:        4.0
-----------------------------------------------------*/
/* =less variables */
.border-top {
  border-top: 1px dotted #ccc;
}
.border-right {
  border-right: 1px dotted #ccc;
}
.border-left {
  border-left: 1px dotted #ccc;
}
.border-bottom {
  border-bottom: 1px dotted #ccc;
}
/* constrain to width of their container */
img,
iframe {
  max-width: 100%;
}
/* =layout
-----------------------------------------------------*/
body {
  background: #dcdcdc;
}
.container {
  background: #fff;
}
.container > .ad {
  margin-top: 20px;
  margin-bottom: 20px;
}
#station-info-top {
  background: #ababab;
  overflow: auto;
  height: 30px;
}
#station-info-top * {
  line-height: 30px;
}
#station-info-top a {
  color: #000;
  font-size: 11px;
}
#station-info-top form {
  background: #999;
  margin: 0;
  padding-left: 15px;
  position: relative;
  left: 15px;
  text-align: right;
}
#station-info-top form input,
#station-info-top form button {
  padding: 0;
  height: 20px;
  line-height: 20px;
}
#station-info-top form input {
  margin-right: 10px;
  text-align: center;
  width: 80%;
}
#station-info-top form button {
  padding: 1px 3px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
#branding {
  padding-top: 7px;
  padding-bottom: 20px;
  text-align: center;
}
.ad {
  background: #fbfbfb;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.ad p {
  color: #aaa;
  margin-bottom: 5px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* enable nav dropdown on hover */
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
#sidebar .ad {
  padding: 0;
  padding-top: 5px;
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
#sidebar .ad img,
#sidebar .ad iframe {
  max-width: 95%;
}
#leading-article {
  border-bottom: none;
  padding-top: 0;
}
#leading-article h1 {
  margin-top: 5px;
}
#leading-article p.byline {
  padding-bottom: 5px;
}
#leading-article p {
  margin-bottom: 0;
}
article {
  border-bottom: 1px solid #ccc;
  overflow: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}
.homepage-sub-news article {
  clear: left;
}
.homepage-sub-news article h4 {
  margin-bottom: 0;
}
.homepage-sub-news h3 {
  color: #666;
  font-size: 18px;
  border-bottom: 3px solid #666;
}
.homepage-sub-news .first img {
  float: left;
  padding-right: 10px;
}
.homepage-sub-news p {
  margin-bottom: 0;
}
.homepage-sub-news article:last-child {
  border-bottom: 3px solid #666;
}
#see-it-shoot-it-share-it {
  margin-bottom: 20px;
}
#see-it-shoot-it-share-it h3 {
  color: #666;
  font-size: 18px;
  border-bottom: 3px solid #666;
  padding-top: 10px;
}
#see-it-shoot-it-share-it nav {
  margin-top: 10px;
}
#house-ads {
  margin-bottom: 20px;
}
#house-ads div {
  text-align: center;
}
#house-ads div:nth-child(2) {
  text-align: right;
}
#legal-links {
  overflow: auto;
  margin-bottom: 10px;
}
#legal-links ul {
  width: 100%;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}
#legal-links ul li:nth-child(1) a {
  padding-left: 0;
}
#legal-links a {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
#footer-news ul,
#footer-community ul {
  width: 100%;
}
#footer-news ul li a,
#footer-community ul li a {
  padding: 2px 7px;
}
#footer-news ul li:nth-child(1) a,
#footer-community ul li:nth-child(1) a {
  padding-left: 0;
  font-weight: bold;
}
#address {
  color: #444;
  font-size: 11px;
}
#address h3 {
  margin-bottom: 5px;
}
#footer-social {
  font-size: 11px;
  text-align: right;
}
#footer-social ul.nav li a {
  padding: 2px;
}
#bottom {
  margin-top: 5px;
  height: 25px;
}
#bottom * {
  line-height: 25px;
  height: 25px;
  color: #ddd;
  font-size: 10px;
}
#bottom nav {
  text-align: right;
}
#bottom nav a {
  color: #ddd;
}
#bottom nav a:hover {
  color: #fff;
}
/* =typography
-----------------------------------------------------*/
body {
  font-size: 12px;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 12px;
}
h4 {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1em;
  margin-top: 0;
}
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
}
/* =header
-----------------------------------------------------*/
header aside.ad {
  padding: 0;
  margin: 0;
  background: transparent;
  text-align: right;
  border-right: 1px dotted #ccc;
}
header aside.ad * {
  max-width: 100%;
}
#main-site-nav {
  min-height: 34px;
  padding-top: 1px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
#main-site-nav a {
  color: #000;
  padding-top: 5px;
  padding: 5px 18px 0 18px;
}
#header-social {
  border-right: 1px dotted #ccc;
  height: 92px;
}
#header-social p {
  color: #aaa;
  font-style: italic;
  margin-top: 15px;
}
#user-status #user-avatar {
  float: right;
  margin-top: 15px;
  padding-left: 15px;
}
#user-status #user-name {
  display: block;
  margin-top: 40px;
  text-align: right;
  font-weight: bold;
}
#user-status p#user-links {
  text-align: right;
  clear: both;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 0;
  border-top: 1px solid #eee;
}
#main-articles {
  padding-bottom: 15px;
}
p.byline {
  font-style: italic;
  font-size: 10px;
  color: #aaa;
  padding-top: 0;
}
.secondary-article {
  overflow: auto;
  clear: both;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #ccc;
}
.secondary-article img {
  float: left;
  padding-right: 10px;
}
.secondary-article h2 {
  margin-top: 0;
  margin-bottom: 5px;
}
.secondary-article p.byline {
  margin-left: 85px;
}
.secondary-article.first {
  padding-top: 0px;
}
.tertiary-article {
  border-bottom: 1px solid #ccc;
}
.tertiary-article h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.tertiary-article .byline {
  margin-bottom: 5px;
}
/* =footer
-----------------------------------------------------*/
#bottom {
  background: #575757;
}
