/*-----------------------------------------------------
theme:			ketknbc
file:			ketknbc.less
version:		4.0
-----------------------------------------------------*/

/* =ketknbc overrides
-----------------------------------------------------*/
#header {
    div.branding {
        a {
            background-image: url('images/branding.png');
        }
    }
}
